<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		
		<title>Burgie's AdoraBurger!</title>

		<!-- jQuery Link -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

		<!-- Bootstrap Link -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<!-- CSS Link -->
		<link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css">

		<!-- Google Fonts Link -->
		<link href="https://fonts.googleapis.com/css?family=Oldenburg|Ribeye|Ribeye+Marrow" rel="stylesheet">

		<!-- Favicon -->
		<link rel="icon" href="./assets/img/adoraburger-favicon.ico" type="image/gif" sizes="16x16">

	</head>

	<body>

		{{{ body }}}
		
	</body>

</html>
